<section class="bg-gray-50 min-h-screen py-32 px-4">

  <!-- HEADER -->
  <div class="mb-6 flex justify-between items-center container">
    <h1 class="text-2xl font-bold">Articles</h1>
  </div>

  <!-- GRID PRODUITS -->
  <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 container">

    <div *ngFor="let produit of produits"  [routerLink]="['/koomerce/details', produit._id]" class="bg-white cursor-pointer rounded-xl shadow-sm hover:shadow-md transition overflow-hidden">

      <!-- IMAGE -->
      <div class="relative">
        <img [src]="produit.image" class="w-full h-48 object-cover" />

        <span *ngIf="produit.promo"
          class="absolute top-2 left-2 bg-red-500 text-white text-xs px-2 py-1 rounded">
          -{{ produit.promo }}%
        </span>
      </div>

      <!-- INFOS -->
      <div class="p-3">
        <h3 class="text-sm font-semibold line-clamp-2">
          {{ produit.nom }}
        </h3>

        <div class="flex items-center gap-2 mt-2">
          <span class="text-red-500 font-bold">
            {{ produit.prix }}$
          </span>
          <span *ngIf="produit.ancienPrix" class="text-gray-400 line-through text-xs">
            {{ produit.ancienPrix }}$
          </span>
        </div>
      </div>

    </div>

  </div>

</section>

<div *ngIf="loading" class="bg-white fixed top-0 left-0 right-0 bottom-0 flex justify-center items-center">
  <div>
    <span class="loader mx-auto text-center"></span>
  </div>
</div>


<!-- 🔔 TOAST NOTIFICATION -->
<div *ngIf="showNotification"
     class="fixed top-5 right-5 w-80 bg-white shadow-2xl rounded-xl overflow-hidden z-50 animate-slideIn border">

  <div class="flex items-center gap-3 p-3">

    <!-- IMAGE PRODUIT -->
    <img *ngIf="notificationImage"
         [src]="notificationImage"
         class="w-14 h-14 rounded-lg object-cover border" />

    <!-- TEXTE -->
    <div class="flex-1">
      <p class="font-bold text-sm text-gray-800">
        {{ notification }}
      </p>
      <p class="text-xs text-gray-500">
        Nouvel article disponible
      </p>
    </div>

  </div>

  <div class="h-1 bg-green-500 animate-pulse"></div>

</div>