<section class="bg-gray-50 min-h-screen py-32 px-4">

  <!-- HEADER -->
  <div class="mb-6 flex justify-between items-center container">
    <h1 class="text-2xl font-bold">Produits</h1>
    <select class="border rounded-lg px-3 py-2 text-sm">
      <option>Populaire</option>
      <option>Prix croissant</option>
      <option>Prix décroissant</option>
    </select>
  </div>

  <!-- GRID PRODUITS -->
  <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 container">

    <div *ngFor="let produit of produits" class="bg-white rounded-xl shadow-sm hover:shadow-md transition overflow-hidden">

      <!-- IMAGE -->
      <div class="relative">
        <img [src]="produit.image" class="w-full h-48 object-cover" />

        <span *ngIf="produit.promo"
          class="absolute top-2 left-2 bg-red-500 text-white text-xs px-2 py-1 rounded">
          -{{ produit.promo }}%
        </span>
      </div>

      <!-- INFOS -->
      <div class="p-3">
        <h3 class="text-sm font-semibold line-clamp-2">
          {{ produit.nom }}
        </h3>

        <div class="flex items-center gap-2 mt-2">
          <span class="text-red-500 font-bold">
            {{ produit.prix }}$
          </span>
          <span *ngIf="produit.ancienPrix" class="text-gray-400 line-through text-xs">
            {{ produit.ancienPrix }}$
          </span>
        </div>
      </div>

    </div>

  </div>

</section>